@font-face {
	font-family: 'HunInn';
	src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot); /* IE9 Compat Modes */
	src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.woff) format("woff"), /* Modern Browsers */
	url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.ttf) format("truetype"), /* Safari, Android, iOS */
   url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.svg#SealmemoryHeader) format("svg"); /* Legacy iOS */
   font-weight: normal;
   font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* ====== reset ====== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ====== 宣告變數 & 規範定義 ====== */
:root {
/* --- 顏色定義 --- */
   --primary-color-brown: #5E4F45; /* 標題 */

   --secondary-color-brown: #8B7F76; /* 線段 */
   --secondary-color-black: #333; /* 文字 */
   --secondary-color-gray: #666; /* 文字 */

   --other-color-white:#fff; /* 白色 */
   --other-color-gray10:#F4F4F4; /* 背景色-淺灰 */
   --other-color-gray30:#E6E6E6; /*背景色-深灰*/

}
/* --- 間距定義 --- */
.mr-b10{ margin-bottom: 10px;} /* 文案間距 */
.mr-b25{ margin-bottom: 25px;} /* 元件間距 */

/* ====== 網站資訊 ====== */
body,html{ background-color: var(--other-color-gray10); font-size: 13px; line-height: 1.5; font-family: "HunInn","Noto Sans TC", serif; color: var(--secondary-color-black);}

/* --- 共用 --- */
.content-title{ display: inline-block; width: auto; padding-bottom: 6px; margin-bottom:10px; font-size: 16px; line-height: 1.5; color:var(--primary-color-brown); border-bottom:2px solid var(--other-color-white);}

/* --- 版頭 --- */
header{ width:345px; height: 85px; background-color: var(--other-color-gray30); padding: 15px 0; position: fixed; z-index: 10;}
header .logo,header .logo a{ display: block; width: 146px; height: 85px; margin: 0 auto;}
header .logo a{ background: url(../images/header/logo.svg); text-indent: -9999px;}
header nav{ display: none;}

/* --- 內容 --- */
.main-flex{ display: flex;}
.main-flex .section-left{ position: fixed; z-index: 1; max-width: 295px; height: 100vh; margin-top: 115px; padding: 20px 25px; background: url(../images/header/bg.svg) var(--other-color-gray30) left top repeat-x;}
.main-flex .section-right{ max-width: calc(100% - 345px); margin-left: 380px;}

.info-box > img{ display: block; width: 165px; height: 165px; border: 7px solid var(--other-color-gray30); border-radius: 165px; overflow: hidden; margin: 0 auto;}
.info-box > h1{ width: 100%; text-align: center; font-size: 25px; color: var(--primary-color-brown); letter-spacing: 5px;}
.info-box > span{ display: block; width: 100%; text-align: center; font-size: 15px; color: var(--secondary-color-gray);}

.contact-box ul li:nth-child(1){ background: url(../images/header/icon-mail.svg) left center no-repeat; background-size: 24px;}
.contact-box ul li:nth-child(2){ background: url(../images/header/icon-linkedin.svg) left center no-repeat; background-size: 24px;}
.contact-box ul li{ display: block; width: 100%; margin-bottom: 10px; padding-left: 35px;}
.contact-box ul li a{ color: var(--secondary-color-black); color: var(--secondary-color-black); line-height: 24px;}

/* --- 版尾 --- */




/*                       
___  ___  ________   ________      ___       __      
|\  \|\  \|\   ___  \|\   __  \    |\  \     |\  \    
\ \  \\\  \ \  \\ \  \ \  \|\  \   \ \  \    \ \  \   
\ \  \\\  \ \  \\ \  \ \   __  \   \ \  \  __\ \  \  
 \ \  \\\  \ \  \\ \  \ \  \ \  \ __\ \  \|\__\_\  \ 
  \ \_______\ \__\\ \__\ \__\ \__\\__\ \____________\
   \|_______|\|__| \|__|\|__|\|__\|__|\|____________|
   
&copy; 2024 Una Wang. All Rights Reserved.
*/     