/* ====== 字體定義 ====== */
@font-face {
font-family: 'HunInn';
src: url('https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot'); /* IE9 Compat Modes */
src: url('https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.woff') format('woff'), /* Modern Browsers */
        url('https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.ttf') format('truetype'), /* Safari, Android, iOS */
        url('https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.svg#SealmemoryHeader') format('svg'); /* Legacy iOS */
font-weight: normal;
font-style: normal;
}
  
/* ====== reset ====== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
 body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
::selection {
    background: var(--primary-color-brown);
    color: #fff;
}
  
/* ====== 宣告變數 & 規範定義 ====== */
:root {
/* --- 顏色定義 --- */
    --primary-color-brown: #5E4F45; /* 標題 */
  
    --secondary-color-brown: #8B7F76; /* 線段 */
    --secondary-color-black: #333; /* 文字 */
    --secondary-color-gray: #666; /* 文字 */
  
    --other-color-white:#fff; /* 白色 */
    --other-color-gray10:#F4F4F4; /* 背景色-淺灰 */
    --other-color-gray30:#E6E6E6; /*背景色-深灰*/
  
}
/* --- 間距定義 --- */
.mr-b10{ margin-bottom: 10px;} /* 文案間距 */
.mr-b25{ margin-bottom: 25px;} /* 元件間距 */
  
/* ====== 網站資訊 ====== */
body,html{ background-color: var(--other-color-gray10); font-size: 13px; line-height: 1.5; font-family: "HunInn","Noto Sans TC", serif; color: var(--secondary-color-black);}
  
/* --- 共用 --- */
.content-title{ display: inline-block; width: auto; padding-bottom: 6px; margin-bottom:10px; font-size: 16px; line-height: 1.5; color:var(--primary-color-brown); border-bottom:2px solid var(--other-color-white);}

//* --- 版頭 --- */

header {
    width: 100%;
    max-width: 345px;
    height: auto;
    background-color: var(--other-color-gray30);
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
  
    .logo {
      display: block;
      width: 146px;
      height: 85px;
      margin: 0 auto;
  
      a {
        display: block;
        width: 146px;
        height: 85px;
        margin: 0 auto;
        background: url(../images/header/logo.svg);
        text-indent: -9999px;
      }
    }
  
    nav {
      display: none;
    }
  }
  
  /* --- 內容 --- */
  
  .main-flex {
    display: flex;
  
    .section-left {
      position: fixed;
      z-index: 1;
      max-width: 295px;
      height: 100vh;
      margin-top: 115px;
      padding: 20px 25px;
      background: url(../images/header/bg.svg) var(--other-color-gray30) left top repeat-x;
    }
  
    .section-right {
      width: calc(100% - 405px);
      margin-left: 345px;
      padding: 25px 30px 30px 30px;
    }
  }

  @media screen and (max-height: 870px) {
    .main-flex {
     .section-left {
          background: url(../images/header/bg.svg) var(--other-color-gray30) left top -25px repeat-x;
          transition: all .5s;
        }
      }
  }
  
  /* 左側-介紹 */
  
  .info-box > {
    img {
      display: block;
      width: 165px;
      height: 165px;
      border: 7px solid var(--other-color-gray30);
      border-radius: 165px;
      overflow: hidden;
      margin: 0 auto;
    }
  
    h1 {
      width: 100%;
      text-align: center;
      font-size: 25px;
      color: var(--primary-color-brown);
      letter-spacing: 5px;
    }
  
    span {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 15px;
      color: var(--secondary-color-gray);
    }
  }
  @media screen and (max-height: 870px) {
    .info-box > {
        img {
          display: block;
          width: 120px;
          height: 120px;
          border-radius: 120px;
          border: 5px solid var(--other-color-gray30);
          transition: all .5s;
        }
    }
  }
  
  .contact-box ul li {
    &:nth-child(1) {
      background: url(../images/header/icon-mail.svg) left center no-repeat;
      background-size: 24px;
    }
  
    &:nth-child(2) {
      background: url(../images/header/icon-linkedin.svg) left center no-repeat;
      background-size: 24px;
    }
  
    display: block;
    width: auto;
    margin-bottom: 10px;
    padding-left: 35px;
  
    a {
      color: var(--secondary-color-black);
      color: var(--secondary-color-black);
      line-height: 24px;
    }
  }
  
  /* 右側-經歷 */
  
  .experience-box {
    .box-list {
      display: flex;
      flex-wrap: nowrap;
  
      .box-left {
        width: 130px;
        padding-right: 20px;
      }
  
      .box-right {
        width: calc(100% - 170px);
        padding-left: 20px;
        border-left: 1px solid var(--secondary-color-brown);
        position: relative;
      }
    }
  
    .experience-02 .box-right {
      border-left-color: var(--other-color-gray10);
    }
  
    .experience-01 .box-right:before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 10px;
      background-color: var(--other-color-gray10);
      left: -1px;
    }
  
    .experience-02 .box-right:before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 10px;
      background-color: var(--secondary-color-brown);
      left: -1px;
    }
  
    .box-list {
      h3 {
        font-size: 15px;
        color: var(--primary-color-brown);
      }
  
      .box-left > span {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 12px;
  
        small {
          display: inline-block;
          padding: 0 5px;
          font-size: 10px;
          color: var(--secondary-color-gray);
          background-color: var(--other-color-white);
          border-radius: 20px;
          padding: 0 5px;
  
          &:nth-child(1) {
            position: relative;
  
            &:after {
              display: block;
              content: '';
              width: 12px;
              height: 1px;
              background-color: var(--other-color-white);
              position: absolute;
              right: -12px;
              top: 7px;
            }
          }
        }
      }
    }
  }
  
  .experience-01 h3, .experience-02 h3 {
    margin-bottom: 5px;
  }
  
  .experience-01 h3 {
    background: url(../images/office/icon-ewebs.svg) left center no-repeat;
    background-size: 25px 20px;
    padding-left: 35px;
    line-height: 24px;
  }
  
  .experience-02 h3 {
    background: url(../images/office/icon-sh.svg) left center no-repeat;
    background-size: 22px;
    padding-left: 35px;
    line-height: 24px;
  }
  
  .experience-box .box-list .box-right ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 12px;
    position: relative;
    padding-top: 3px;
  
    &::before {
      display: block;
      content: '';
      width: 11px;
      height: 11px;
      background: url(../images/office/icon-point.svg) center no-repeat;
      background-size: 11px;
      left: -26px;
      top: 8px;
      position: absolute;
    }
  
    li {
      &:first-child {
        width: 75px;
        font-size: 14px;
        color: var(--primary-color-brown);
      }
  
      &:last-child {
        width: calc(100% - 75px);
        font-size: 13px;
        color: var(--secondary-color-black);
      }
    }
  }
  
  /* 右側-技能 */
  
  .skills-box ul {
    display: flex;
    flex-wrap: wrap;
  
    li {
      margin: 0 10px 10px 0;
      background-color: var(--other-color-white);
      line-height: 34px;
      color: var(--secondary-color-black);
      padding: 0 15px 0 12px;
      border-radius: 34px;
  
      span {
        display: block;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 24px;
  
        &.s-figma {
          background-image: url(../images/skills/icon-figma.svg);
          background-size: 16px;
          background-position: 5px;
          padding-left: 30px;
        }
  
        &.s-xd {
          background-image: url(../images/skills/icon-xd.svg);
          padding-left: 30px;
        }
  
        &.s-sketch {
          background-image: url(../images/skills/icon-sketch.svg);
          padding-left: 30px;
        }
  
        &.s-canva {
          background-image: url(../images/skills/icon-canva.png);
          padding-left: 30px;
        }
  
        &.s-zeplin {
          background-image: url(../images/skills/icon-zeplin.svg);
          padding-left: 30px;
        }
  
        &.s-lottie {
          background-image: url(../images/skills/icon-lottie.png);
          padding-left: 30px;
        }
  
        &.s-vsc {
          background-image: url(../images/skills/icon-vscode.svg);
          padding-left: 30px;
        }
  
        &.s-bsp {
          background-image: url(../images/skills/icon-bootstrap.svg);
          padding-left: 30px;
        }
  
        &.s-twcss {
          background-image: url(../images/skills/icon-tailwindcss.svg);
          padding-left: 30px;
        }
  
        &.s-html {
          background-image: url(../images/skills/icon-html5.png);
          padding-left: 30px;
        }
  
        &.s-jqy {
          background-image: url(../images/skills/icon-jquery.svg);
          padding-left: 30px;
        }
  
        &.s-vue {
          background-image: url(../images/skills/icon-vue.svg);
          padding-left: 30px;
        }
  
        &.s-gitlab {
          background-image: url(../images/skills/icon-gitlab.svg);
          padding-left: 30px;
        }
  
        &.s-github {
          background-image: url(../images/skills/icon-github.svg);
          padding-left: 30px;
        }
  
        &.s-git {
          background-image: url(../images/skills/icon-git.svg);
          padding-left: 30px;
        }
  
        &.s-sass {
          background-image: url(../images/skills/icon-sass.svg);
          background-size: auto 22px;
          padding-left: 38px;
        }
  
        &.s-axure {
          background-image: url(../images/skills/icon-axure.png);
          padding-left: 30px;
        }
  
        &.s-gpt {
          background-image: url(../images/skills/icon-gpt.png);
          padding-left: 30px;
        }
  
        &.s-mjy {
          background-image: url(../images/skills/icon-mj.png);
          padding-left: 30px;
        }
  
        &.s-notion {
          background-image: url(../images/skills/icon-notion.png);
          padding-left: 30px;
        }
      }
    }
  }
  
  /* 右側-學歷＆證書 */
  
  .content-flex {
    display: flex;
    gap: 30px;
  
    > div {
      width: 50%;
    }
  }
  
  .education-box .box-list, .certification-box .box-list {
    margin-bottom: 12px;
  }
  
  .education-box .box-list, .certification-box .box-list {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .education-box .box-list .box-left, .certification-box .box-list .box-left {
    width: 156px;
    padding-right: 15px;
  }
  
  .education-box .box-list .box-right, .certification-box .box-list .box-right {
    width: calc(100% - 185px);
    padding-left: 15px;
    border-left: 1px solid var(--secondary-color-brown);
  }
  
  .education-box .box-list h3, .certification-box .box-list h3 {
    font-size: 15px;
    color: var(--primary-color-brown);
  }
  
  .education-box .box-list .box-right ul li:first-child, .certification-box .box-list .box-right ul li:first-child {
    font-size: 14px;
    color: var(--primary-color-brown);
  }
  
  .education-box .box-list .box-left > span, .certification-box .box-list .box-left > span {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 10px;
    color: var(--secondary-color-gray);
    gap: 12px;
  }
  
  .education-box .box-list .box-left > span small, .certification-box .box-list .box-left > span small {
    display: inline-block;
    padding: 0 5px;
    font-size: 10px;
    color: var(--secondary-color-gray);
    background-color: var(--other-color-white);
    border-radius: 20px;
    padding: 0 5px;
  }
  
  .education-box .box-list .box-left > span small:nth-child(1) {
    position: relative;
  
    &:after {
      display: block;
      content: '';
      width: 12px;
      height: 1px;
      background-color: var(--other-color-white);
      position: absolute;
      right: -12px;
      top: 7px;
    }
  }
  
  .certification-box .box-list a {
    color: var(--secondary-color-black);
  
    &:hover {
      color: var(--secondary-color-black);
    }
  }
  
  .education-01 h3 {
    background: url(../images/office/icon-just.png) left center no-repeat;
    background-size: 24px;
    padding-left: 35px;
    line-height: 24px;
  }
  
  .education-02 h3 {
    background: url(../images/office/icon-ssvs.png) left center no-repeat;
    background-size: 24px;
    padding-left: 35px;
    line-height: 24px;
  }
  
  .certification-01 h3 {
    background: url(../images/office/icon-coursera.png) left center no-repeat;
    background-size: 24px;
    padding-left: 35px;
    line-height: 24px;
  }
  
  .certification-02 h3 {
    background: url(../images/office/icon-ck.png) left center no-repeat;
    background-size: 24px;
    padding-left: 35px;
    line-height: 24px;
  }
  
  /* 專案作品 */
  
  .portfolio-box {
    .content-title {
      position: relative;
  
      span {
        position: absolute;
        left: 105px;
        top: 0px;
        display: block;
        width: 73px;
        padding: 3px 8px;
        border-radius: 2px;
        color: var(--other-color-white);
        background-color: var(--secondary-color-brown);
        font-size: 12px;
      }
    }
  
    .box-list {
      width: 100%;
      overflow-x: hidden;
  
      .card {
        background-color: var(--other-color-white);
  
        > div {
          padding: 10px 12px 12px 12px;
  
          h3 {
            a {
              display: block;
              width: 100%;
              color: var(--primary-color-brown);
              font-size: 15px;
              text-decoration: none;
            }
  
            margin-bottom: 5px;
          }
  
          ul {
            display: flex;
            flex-wrap: wrap;
  
            li {
              display: inline-block;
              font-size: 11px;
              padding: 3px 10px;
              background-color: var(--other-color-gray10);
              color: var(--secondary-color-brown);
              font-size: 11px;
              margin-right: 6px;
              margin-bottom: 6px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .btn-box-c{
    display: flex;
    align-items: center;
    padding: 10px 0;

    > a.btn-view-more{
      display: block;
      width: 98px;
      height: 20px;
      text-indent: -9999px;
      background: url(../images/portfolio/icon-view_more.svg) center no-repeat;
    }
  }
  
  /* --- 版尾 --- */
  
  footer {
    width: calc(100% - 405px);
    margin-left: 345px;
    padding: 5px 30px 5px 30px;
    font-size: 11px;
    color: #666;
  }
  
  @media screen and (max-width: 1200px) {
    .content-flex {
      display: block;
  
      > div {
        width: 100%;
      }
    }
  }
  
  @media screen and (max-width: 960px) {
    header {
      width: 100%;
      max-width: 100%;
    }
  
    .main-flex {
      display: block;
  
      .section-left {
        position: unset;
        max-width: 100%;
        height: auto;
      }
  
      .section-right {
        width: calc(100% - 60px);
        margin-left: 0;
      }
    }
  
    .content-flex {
      display: flex;
  
      > div {
        width: 50%;
      }
    }
  
    footer {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 840px) {
    .content-flex {
      display: block;
  
      > div {
        width: 100%;
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    /* 版頭 */
  
    header {
      background-color: var(--other-color-gray10);
      transition: all .8s;
  
      .logo {
        width: 200px;
        height: 55px;
        transition: all .8s;
  
        a {
          width: 200px;
          height: 55px;
          transition: all .8s;
          background: url(../images/header/logo-s.svg) center no-repeat;
          background-size: 200px;
          transition: all .8s;
        }
      }
    }
  
    .header-m {
      background-color: var(--other-color-gray30);
      transition: all .8s;
  
      .logo {
        width: 144px;
        height: 35px;
        transition: all .8s;
  
        a {
          width: 144px;
          height: 35px;
          transition: all .8s;
          background: url(../images/header/logo-s.svg) center no-repeat;
          background-size: 144px;
          transition: all .8s;
        }
      }
    }
  
    .main-flex .section-left {
      margin-top: 65px;
    }
  
    /* 經歷 */
  
    .experience-box .box-list {
      .box-left {
        display: flex;
        width: 100%;
        padding-right: 20px;
        align-items: center;
        justify-content: space-between;
      }
  
      display: block;
  
      .box-right {
        width: calc(100% - 31px);
        margin-left: 11px;
  
        ul li:first-child {
          padding-left: 3px;
        }
      }
    }
  
    /* 技能 */
  
    .skills-box ul li {
      margin: 0 5px 5px 0;
    }
  
    /* 學歷 */
  
    .education-box .box-list, .certification-box .box-list {
      display: block;
    }
  
    .education-box .box-list .box-right, .certification-box .box-list .box-right {
      margin-top: 5px;
      width: calc(100% - 35px);
      padding-left: 15px;
      border-left: 0;
      margin-left: 20px;
    }
  
    .education-box .box-list .box-left, .certification-box .box-list .box-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
/*                       
___  ___  ________   ________      ___       __      
|\  \|\  \|\   ___  \|\   __  \    |\  \     |\  \    
\ \  \\\  \ \  \\ \  \ \  \|\  \   \ \  \    \ \  \   
\ \  \\\  \ \  \\ \  \ \   __  \   \ \  \  __\ \  \  
 \ \  \\\  \ \  \\ \  \ \  \ \  \ __\ \  \|\__\_\  \ 
  \ \_______\ \__\\ \__\ \__\ \__\\__\ \____________\
   \|_______|\|__| \|__|\|__|\|__\|__|\|____________|
   
&copy; 2024 Una Wang. All Rights Reserved.
*/     